@tailwind base;

@layer base {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
  hr {
    height: 1rem;
    margin: 2em 1em 4em 0;
    text-align: center;
    border-color: #777;
    border-width: 0;
    border-style: dotted;
  }
  hr:after {
    content: "···";
    letter-spacing: 2em;
  }
}

@tailwind components;
@tailwind utilities;
